{% extends "_base.html" %}
{% load static %}
{% load product_tags %}
{% load humanize %}
{% load i18n %}

{% block body %}
		<main>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url({% static "images/b-bg7.jpg" %});">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<h1 class="headingIV fwEbold playfair mb-4">{% trans "Shop" %}</h1>
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center">
								<li class="mr-2"><a href="{% url "pages:home" %}">{% trans "Home" %}</a></li>
								<li class="mr-2">/</li>
								<li class="active">{% trans "Shop" %}</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- twoColumns -->
			<div class="twoColumns container pt-lg-23 pb-lg-20 pt-md-16 pb-md-4 pt-10 pb-4">
				<div class="row">
					<div class="col-12 col-lg-9 order-lg-3">
						<!-- content -->
						<article id="content">
							<!-- show-head -->
							<header class="show-head d-flex flex-wrap justify-content-between mb-7">
								<ul class="list-unstyled viewFilterLinks d-flex flex-nowrap align-items-center">
									<li class="mr-2"><a href="javascript:void(0);" class="active"><i class="fas fa-th-large"></i></a></li>
									<li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-list"></i></a></li>
									<li class="mr-2">{% trans "Showing" %} 1–12 {% trans "of" %} {{ products.count }} {% trans "results" %}</li>
								</ul>
								<!-- sortGroup -->
								<div class="sortGroup">
									<div class="d-flex flex-nowrap align-items-center">
										<strong class="groupTitle mr-2">Sort by:</strong>
										<div class="dropdown">
											<button class="dropdown-toggle buttonReset" type="button" id="sortGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default sorting</button>
											<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sortGroup">
												<li><a href="javascript:void(0);">Default Order</a></li>
												<li><a href="javascript:void(0);">Default Order</a></li>
												<li><a href="javascript:void(0);">Default Order</a></li>
												<li><a href="javascript:void(0);">Default Order</a></li>
											</ul>
										</div>
									</div>
								</div>
							</header>
							<div class="row">
								<!-- featureCol -->
                                 {% for product in products %}
									<div class="col-12 col-sm-6 col-lg-4 featureCol mb-7">
										<div class="border">
											<div class="imgHolder position-relative w-100 overflow-hidden">
												<img style="height:320px;" src="{{ product.cover.url }}" alt="image description" class="img-fluid w-100">
												<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
													<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
													<form action="{% url "shop:add_product" product.pk %}" method="POST">
														{% csrf_token %}
														<input type="hidden" name="quantity" value="1">
														<button type="submit">
															<li class="mr-2 overflow-hidden">
																<a class="icon-cart d-block"></a>
															</li>
														</button>
													</form>
													<li class="mr-2 overflow-hidden"><a href="{{ product.get_absolute_url }}" class="icon-eye d-block"></a></li>
													<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
												</ul>
											</div>
											<div class="text-center py-5 px-4">
												<span class="title d-block mb-2"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></span>
												<span class="price d-block fwEbold">
													{% if product.discount %}
														<del>{% converter_unit_money product.unit_price unit=settings.CHOOSE_UNIT_MONEY %}</del>
														{% converter_unit_money product.price unit=settings.CHOOSE_UNIT_MONEY %}
													{% else %}
														{% converter_unit_money product.price unit=settings.CHOOSE_UNIT_MONEY %}
													{% endif %}
												</span>
												<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>
												<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block ml-8">Sale</span>
											</div>
										</div>
									</div>
                                 {% endfor %}
								<!-- featureCol -->
								<div class="col-12 pt-3 mb-lg-0 mb-md-6 mb-3">
									<!-- pagination -->
									<ul class="list-unstyled pagination d-flex justify-content-center align-items-end">
										{% if page_obj.has_previous %}
											<li>
												<a href="?page={{ page_obj.previous_page_number }}">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										{% endif %}
										
										{% for i in page_obj.paginator.page_range %}
											{% if page_obj.number == i %}
												<li class="active"><a href="#">{{ i }}</a></li>
											{% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
												<li><a href="?page={{ i }}">{{ i }}</a></li>
											{% endif %}
										{% endfor %}
												
										{% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
											<li>
												<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
											</li>
										{% endif %}

										{% if page_obj.has_next %}
											<li>
												<a href="?page={{ page_obj.next_page_number }}">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="col-12 col-lg-3 order-lg-1">
						<!-- sidebar -->
						<aside id="sidebar">
							<!-- widget -->
							<section class="widget overflow-hidden mb-9">
								<form action="{% url "products:search_product" %}" method="GET" class="searchForm position-relative border">
									<fieldset>
										<input name="search" type="search" class="form-control" placeholder="Search product...">
										<button type="submit" class="position-absolute"><i class="icon-search"></i></button>
									</fieldset>
								</form>
							</section>
							<!-- widget -->
							<section class="widget overflow-hidden mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-5">{% trans "PRODUCT CATEGORIES" %}</h3>
								<ul class="list-unstyled categoryList mb-0">
									{% for cat in categories %}
										<li class="mb-5 overflow-hidden"><a href="{% url "products:product_filter_by_category" cat.slug %}">{{ cat.name }} <span class="num border float-right">{{ cat.product_count }}</span></a></li>
									{% endfor %}
								</ul>
							</section>
							<!-- widget -->
							<section class="widget mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-6">{% trans "Filter by price" %}</h3>
								<!-- filter ranger form -->
								<form action="{% url "products:search_by_price" %}" method="GET" class="filter-ranger-form">
									<div id="slider-range"></div>
									<input name="price1" type="hidden" id="amount1" name="amount1">
									<input name="price2" type="hidden" id="amount2" name="amount2">
									<div class="get-results-wrap d-flex align-items-center justify-content-between">
										<button type="submit" class="btn btnTheme btn-shop fwEbold md-round px-3 pt-1 pb-2 text-uppercase">Filter</button>
										<p id="amount" class="mb-0"></p>
									</div>
								</form>
							</section>
							<!-- widget -->
							<section class="widget mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-6">{% trans "top rate" %}</h3>
								<ul class="list-unstyled recentListHolder mb-0 overflow-hidden">
									{% for product in products|slice:":5" %}
										<li class="mb-6 d-flex flex-nowrap">
											<div class="alignleft">
												<a href="{{ product.get_absolute_url }}"><img style="height:80px;" width="70px" src="{{ product.cover.url }}" alt="image description" class="img-fluid"></a>
											</div>
											<div class="description-wrap pl-1">
												<h4 class="headingVII mb-1"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
												<strong class="price fwEbold d-block;">{% converter_unit_money product.price unit=settings.CHOOSE_UNIT_MONEY %}</strong>
											</div>
										</li>
									{% endfor %}
								</ul>
							</section>
							<!-- widget -->
							<section class="widget mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-5">{% trans "product tags" %}</h3>
								<ul class="list-unstyled tagNavList d-flex flex-wrap mb-0">
									{% for tag in tags %}
										<li class="text-center"><a href="{% url "products:product_filter_by_tags" tag.slug %}" class="md-round d-block">{{ tag.name }}</a></li>
									{% endfor %}
								</ul>
							</section>
						</aside>
					</div>
				</div>
			</div>
			<div class="container mb-lg-24 mb-md-16 mb-10">
				<!-- subscribeSecBlock -->
				{% include "includes/subscribe_newsletter.html" %}
			</div>
{% endblock body %}