{% load static %}
{% load i18n %}

<section class="subscribeSecBlock bgCover col-12 pt-lg-24 pb-lg-12 pt-md-16 pb-md-8 py-10" style="background-image: url({% static "images/n-bg3.jpg" %})">
    <header class="col-12 mainHeader mb-9 text-center">
        <h1 class="headingIV playfair fwEblod mb-4">{% trans "Subscribe Our Newsletter" %}</h1>
        <span class="headerBorder d-block mb-5"><img src="{% static "images/hbdr.png" %}" alt="Header Border" class="img-fluid img-bdr"></span>
        <p class="mb-6">{% trans "Enter Your email address to join our mailing list and keep yourself update" %}</p>
    </header>
    <form action="{% url "pages:subscribe_newsletter" %}" method="POST" class="emailForm1 mx-auto overflow-hidden d-flex flex-wrap">
        {% csrf_token %}
        <input name="email" type="email" class="form-control px-4 border-0" placeholder="Enter your mail...">
        <button type="submit" class="btn btnTheme btnShop fwEbold text-white py-3 px-4 py-md-3 px-md-4">{% trans "Shop Now" %} <i class="fas fa-arrow-right ml-2"></i></button>
    </form>
</section>