{% extends "_base.html" %}
{% load static %}
{% load blog_tags %}

{% block body %}
		<main>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url({% static "images/b-bg7.jpg" %});">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<h1 class="headingIV fwEbold playfair mb-4">Blog</h1>
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center">
								<li class="mr-2"><a href="{% url "pages:home" %}">Home</a></li>
								<li class="mr-2">/</li>
								<li class="active">Blog</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- twoColumns -->
			<div class="twoColumns container pt-lg-23 pb-lg-20 pt-md-16 pb-md-4 pt-10 pb-4">
				<div class="row">
					<div class="col-12 col-lg-9 order-lg-3">
						<!-- content -->
						<article id="content">
							<!-- newsBlogColumn -->
							 {% for post in posts %}
							 <div class="newsBlogColumn mb-md-9 mb-6">
								 <div class="imgHolder position-relative mb-6">
									 <a href="{{ post.get_absolute_url }}">
										 <img src="{{ post.cover.url }}" alt="image description" class="img-fluid">
									 </a>
								 </div>
								 <div class="textHolder d-flex align-items-start">
									 <time class="time text-center text-uppercase py-sm-3 py-1 px-1" datetime="2019-02-03 20:00"> <strong class="fwEbold d-block mb-1">{{ post.datetime_created.day }}</strong> {{ post.datetime_created|date:"M" }}</time>
									 <div class="alignLeft pl-sm-6 pl-3">
										 <h2 class="headingV fwEbold mb-2"><a href="blog-detail.html">{{ post.title }}</a></h2>
										 <span class="postBy d-block pb-sm-6 pb-2 mb-3">Post by: <a href="blog-detail.html">{{ post.author }}</a></span>
										 <p class="mb-0">{{ post.text|truncatewords:10|safe }}</p>
									 </div>
								 </div>
							 </div>
							 {% endfor %}
							<!-- newsBlogColumn -->
						</article>
					</div>
					<div class="col-12 col-lg-3 order-lg-1">
						<!-- sidebar -->
						<aside id="sidebar">
							<!-- widget -->
							<section class="widget overflow-hidden mb-md-9 mb-6">
								<h3 class="headingVII fwEbold text-uppercase mb-4">Search</h3>
								<form action="javascript:void(0);" class="searchForm position-relative border">
									<fieldset>
										<input type="search" class="form-control" placeholder="Search product...">
										<button class="position-absolute"><i class="icon-search"></i></button>
									</fieldset>
								</form>
							</section>
							<!-- widget -->
							<section class="widget overflow-hidden mb-md-9 mb-6">
								<h3 class="headingVII fwEbold text-uppercase mb-2">RECENT POSTS</h3>
								<ul class="list-unstyled recentPostList mb-0">
									{% for post in posts|slice:":4" %}
									<li><a href="javascript:void(0);" class="py-2 d-block">{{ post.title }}</a></li>
									{% endfor %}
								</ul>
							</section>
							<!-- widget -->
							{% recent_comments_of_blog_section %}
							<!-- widget -->
							<section class="widget overflow-hidden mb-md-6 mb-3">
								<h3 class="headingVII fwEbold text-uppercase mb-4">ARCHIVES</h3>
								<ul class="list-unstyled archiveList mb-0">
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">March 2018</a></li>
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">December 2018</a></li>
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">November 2018</a></li>
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">September 2018</a></li>
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">August 2018</a></li>
								</ul>
							</section>
							<!-- widget -->
							<section class="widget overflow-hidden mb-md-5 mb-3">
								<h3 class="headingVII fwEbold text-uppercase mb-4">CATEGORIES</h3>
								<ul class="list-unstyled archiveList mb-0">
									{% for cat in categories %}
										<li class="mb-3">
											<a href="{% url "blog:filter_posts_by_category" cat.slug %}" class="d-block">{{ cat.name }}</a>
										</li>
									{% endfor %}
								</ul>
							</section>
							<!-- widget -->
							{% comment %} <section class="widget overflow-hidden mb-md-9 mb-6">
								<h3 class="headingVII fwEbold text-uppercase mb-4">META</h3>
								<ul class="list-unstyled archiveList mb-0">
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">Log in</a></li>
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">Entries RSS</a></li>
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">Comments RSS</a></li>
									<li class="mb-3"><a href="javascript:void(0);" class="d-block">WordPress.org</a></li>
								</ul>
							</section> {% endcomment %}
						</aside>
					</div>
				</div>
			</div>
			<div class="container mb-lg-24 mb-md-16 mb-10">
				<!-- subscribeSecBlock -->
				{% include "includes/subscribe_newsletter.html" %}
			</div>
{% endblock body %}